@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*,
body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
    /* para que o nav seja absoluto ao container e não à página */
    width: 940px;
    margin: 0 auto;
    /* centralizar container */
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    /* comportamento do link ao passar o mouse */
    color: #c78c19;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    /* cada elemento ocupar 1/3 da tela */
    vertical-align: top;
    /* alinhar pelo topo */
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /* usar px dentro de % */
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #c78c19;
}

.produtos li:active {
    /* comportamento ao pressionar o mouse1 */
    border-color: #088c19;
}

.produtos li:hover h2 {
    /* comportamento da fonte do titulo ao passar o mouse */
    font-size: 30px;
}

.produtos h2 {
    font-size: 28px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("./assets/img/bg.jpg");
    /* adicionar imagem de fundo */
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}
